body{
    background-color: #111;
    color: #fff;
}

#tbuttonDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: blue;
    height: 100px;
    width: 100px;
}

.my_input{
    display: inline-block;
    margin: 5px;
    width: 300px;
    color: #fff;
}
